*{
    box-sizing: border-box;
}
body{
    background-color:rgba(72, 163, 0, 0.07) ;
    font-family: 'poppins',sans-serif;
    margin: 0;
}
main{
    padding: 0px 16px 32px;
}
.title{
    font-size: 64px;
    color:rgba(72, 163, 0, 1) ;
    text-align: center;
}

.title span{
    color:rgba(97, 72, 28, 1);

}

.app-container{
    max-width: 660px;
    padding: 32px 48px;
    margin-inline: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.1);
    background-color:rgba(255, 255, 255, 1);
    }

.subtitle{
    display: flex;
    align-items: center;
    height: 30px;
    width: 125px;
    top: 208px;
    left: 432px;

    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.sun-icon { 
    vertical-align: middle;
    margin-left: 8px;
  }

  .progress-label{
    /* width: 320px;
    height: 28px;
    top: 284px;
    left: 434px; */
    
    font-size: 14px;
    color:rgba(133, 133, 133, 1);
    margin-bottom: 20px;
}
.progress-bar{
    height:30px;
    background-color: rgba(72, 163, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 42px;
}
.progress-value{
    height: 100%;
    width: 0%;
    background-color: rgba(72, 163, 0, 1);
    border-radius: 15px;
    font-weight: 500;
    font-size: 10px;
    color: rgba(238, 255, 224, 1);
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: width 0.2s ease-in-out;

}
.progress-value span{
    padding-left:20px;
    min-width: max-content;
}
.error-label{
    font-size: 14px;
    color: rgba(255, 81, 81, 1);
    font-weight: 400;
    margin-top:4px;
    display: none;
}
.show-error .error-label{
    display: block;

}

.goal-container{
    display: flex;
    height: 82px;
    border:1px solid rgba(0,0,0,0.2);
    border-radius:17px;
    align-items: center;
    padding: 0 22px;
    background-color:rgba(255, 255, 255, 1);
    margin-bottom: 42px;
    
}
.custom-checkbox{
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-items: center; */
    border: 2px solid rgba(97, 72, 28, 0.3);
    color:rgba(255, 255, 255, 1);
    border-radius: 50%;
    flex-shrink: 0;
}
.check_icon{
    display: none;
}
.input-field{
    /* background-color: aquamarine; */
    border: none;
    display: flex;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
    align-self: stretch;
    flex-shrink: 1;
    width: 100%;
    font-family: inherit;
    font-weight: 500;
    /* border: 2px solid red; */
}

/* change the color of placeholder  */
.input-field::placeholder{
    color:rgba(217, 217, 217, 1);
}

.quote{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: rgba(0, 0, 0, 1);

}
.made-with{
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    color: rgba(133, 133, 133, 1);
    margin-top: 64px;

}

.completed .custom-checkbox{
    background-color: rgba(72, 163, 0, 1);
    border-color: rgba(72, 163, 0, 1); 
}
.completed .check_icon {
    display: block;
}
.completed .input-field{
    color: rgba(72, 163, 0, 1);
    text-decoration: line-through;
}

  @media (max-width: 768px){
        .title{
            font-size: 32px;
        }
        .app-container{
            padding: 16px 32px;
        }
    .goal-container{
        height: 62px;
        margin-bottom: 26px;
        border-radius: 12px;
    }
    .custom-checkbox{
        height: 20px;
        width: 20px;
    }
    .made-with{
        margin-top: 32px;
    }
    .progress-bar{
        height: 24px;
    }

}



